<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 welcome">
      <h1>Welcome to IT Store Application</h1>
      <h5>This application enables IT Administrators to manage Assets related to IT Store and
          Assets allocated to users as well as the Assets installed or located at different places within the organization.
      </h5>
    </div>
    <!-- <div class="col-sm-12 register-form">
      <form name="form" (ngSubmit)="registerForm.form.valid && register()" #registerForm="ngForm">
        <h2>New User Registration</h2>
        <h6 class="text-danger text-right">User Name and Password fields mandatory</h6>
        <div class="form-group">
          <input type="text" class="input-text" name="username" [(ngModel)]="signup.username" #username="ngModel" aria-label="User Name" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>User Name</label>
          <div *ngIf="registerForm.submitted && !username.valid" class="text-danger">User Name is either blank or already exists</div>
        </div>
        <div class="form-group">
          <input type="text" class="input-text" name="password" [(ngModel)]="signup.password" #password="ngModel" aria-label="Password" required />
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
          <div *ngIf="registerForm.submitted && !username.valid" class="text-danger">User Name is either blank or already exists</div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-success">Create My Account</button>
        </div>
        <br /><h6>If you already have an account, please <a routerLink="/Login"><strong>login</strong></a> now.</h6>
      </form>
    </div> -->
  </div>
</div>
